html, body {
    background-color: #f0f0f0;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#Menu-Bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Ensure it stays on top */
    list-style: none;
}

#Menu-Bar li {
    display: inline-block;
    padding-right: 15px;
    font-size: 12px;
}

#Menu-Bar li a {
    text-decoration: none;
    border-radius: 5px;
    color: #000000;
}

#Menu-Bar li a:hover {
    background-color: #d1d1d1;
}

.Triple_Star {
    cursor: pointer;
    width: 120px;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    top: 265px;
    right: 60px;
    position: absolute;
    color: #f9e6f2;
    background-color: #f1b1c1;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.Triple_Star:hover {
    transform: scale(1.1);
}

/* Interface Styles */
.Isell-Interface {
    font-size: 8px;
    color: #ffffff;
}

/* Left Menu Items */
.Isell-Interface-Left-Menu {
    top: 50px; /* Adjust this value to add space below the menu bar */
    position: absolute;
    left: 20px;
}

.Sales-Set,
.Open-Orders,
.Customer,
.Current-Order-Summary {
    width: 300px;
}

.Sales-Set {
    margin-bottom: 90px;
}

.Open-Orders {
    margin-bottom: 40px;
}

.Customer {
    margin-bottom: 75px;
}

.Current-Order-Summary {
    margin-bottom: 65px;
}

.Booked-Articles-And-Products {
    width: 800px;
    margin-bottom: 65px;
}

h1 {
    border-left: 1px solid #ccc;
    color: #000;
    margin: 0;
    font-size: 14px;
}

/* Styles for the Add-Products div */
.Add-Products {
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 8px;
    background-color: #ffffff;
    border-left: 3px solid #4a68a1;
    border-top: 10px solid #4a68a1;
    height: 100%;
    position: absolute;
    width: 30px;
    text-align: center;
}

.Add-Products img {
    cursor: pointer;
    border: 1px solid #ccc;
    transition: 0.3s ease;
}

.Add-Products img:hover {
    border: 1px solid #4a68a1;
}



/* Styles for the Products-List div */
.Products-List {
    margin-left: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}

.Product-Information, .Product-Item {
    display: flex;
    justify-content: space-between;
}

.Product-Information div,
.Product-Item div {
    flex: 1;
    text-align: center;
}

.Product-Item {
    color: #000;
    background-color: #fff;
    border-top: 1px solid #ddd;
    margin-top: -1px; /* Offset to avoid stuff stacking and having 2px */
    cursor: pointer;
    transition: border-color 0.3s; /* Transition only border-color */
}

.Product-Item:hover {
    background-color: #eef4ff;
}

.Isell-Interface-Right-Menu {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 50px; /* Adjust this value to add space below the menu bar */
    left: 350px;
}

.Current-Order-Details {
    position: absolute;
    width: 470px;
}

.General, .Links {
float: left;
    box-sizing: border-box; /* Add this line */
margin-left: 5px;
    width: 230px;
}


h2 {
    color: #ffffff;
    background-color: #4a68a1;
    font-size: 13px;
}

/* This is the button to view the current Item Index and will eventually be the (Update Button) */
.Item-Index {
    text-align: center;
    font-size: 16px;
    top: 370px;
    right: 60px;
    position: absolute;
    color: #000;
    background-color: #c9c9c9;
    border-radius: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    }

.Item-Index:hover {
    transform: scale(1.1);
}

.Web-Testing {
    text-align: center;
    font-size: 16px;
    top: 550px;
    right: 60px;
    position: absolute;
    color: #000;
    background-color: #c9c9c9;
    border-radius: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    }

    .Web-Testing:hover {
    transform: scale(1.1);
}
